{% extends "base.html" %}
{% block content %}
<div class="well">
{% from "_formhelpers.html" import render_field %}
{{ form.csrf_token }}
<h1>Edit Survey</h1>
<p class="text-muted">Edit an existing survey.</p>
<div class="container">
<form action={{ url_for('edit_survey_form', surveyid=sid) }}  method="post" name="edit_survey_form">
	<fieldset>
	{{ form.hidden_tag() }}
	<div class="form-group">
		{{ render_field(form.surveyname) }}
	</div>
	<div class="form-group">
		{{ render_field(form.description) }}
	</div>
	<div class="form-group">
		{{ render_field(form.question) }}
	</div>
	<a href="{{ url_for('show_surveys') }}" class="btn btn-default">Cancel</a>
	<button type ="submit" name="action" class="btn btn-primary" value="Submit">Submit</button>
	<!--<button type ="submit" name="action" style="margin-right:150px;float:right" class="btn btn-danger" value="Delete">Delete</button>-->
	</fieldset>
</form>
</div>
</div>
{% endblock %}
