{% extends "base.html" %}
{% block content %}
<div class="well">
{% from "_formhelpers.html" import render_field %}
{{ form.csrf_token }}
<h1>Edit Deployment</h1>
<p class="text-muted">Edit an existing deployment.</p>
<div class="container">
<form action={{ url_for('edit_deployment_form', deploymentid=did) }}  method="post" name="edit_deployment_form">
	<fieldset>
	{{ form.hidden_tag() }}
	<div class="form-group">
		<p><b>URL:</b> {{ ks.url }}</p>
		<p><b>Building:</b> {{ b.name }}</p>
		<p>
		<b>Kiosk View?</b>
		{% if d.is_kioski %}
		 Yes
		{% else %}
		 No
		{% endif %}
		</p>	
	</div> 
	<div class="form-group">
		{{ render_field(form.survey_id) }}
	</div>

	<a href="{{ url_for('deployment_page', deployedurlid=did) }}" class="btn btn-default">Cancel</a>
	<button type=submit class="btn btn-primary" value=Submit>Submit</button>
	</fieldset>
</form>
</div>
</div>
{% endblock %}
