{% extends "base.html" %}
{% block content %}
<div class="well">
{% from "_formhelpers.html" import render_field %}
{{ form.csrf_token }}
<h1>Create Question</h1>
<p class="text-muted">Use this form to add a question with a description and type</p>
<div class="container">
<form action="/questionform" method="post" name="question_form">
	{{ form.hidden_tag() }}
	<div class="form-group">
		{{ render_field(form.questiontext) }}
	</div>
	<div class="form-group">
		{{ render_field(form.questiondescription) }}
	</div>
	<div class="form-group">
		{{ render_field(form.questiontype) }}

	<div data-toggle="fieldset" id="option-fieldset">
		<label>Add more entries</label>
		<button type="button" data-toggle="fieldset-add-row"
									  data-target="#option-fieldset">+</button>
	<table>
		<tr>
			<th>Option</th>
			<th>Response Position</th>
			<th>
				<a href="http://www.color-hex.com/" target="_blank" >Option Color</a>
			</th>
		</tr>
		{% for entries in form.entries %}
			<tr data-toggle="fieldset-entry">
				<td>{{ entries.option }}</td>
				<td>{{ entries.responseposition }}</td>
				<td>{{ entries.optioncolor }}</td>
				<td><button type="button" data-toggle="fieldset-remove-row" id="entries-{{loop.index0}}-remove">-</button></td>
			</tr>
		{% endfor %}
	</table>
</div>
	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="{{ url_for("static", filename="scripts/question_page.js") }}"></script>
    <script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
</script>
	<a href="{{ url_for('show_questions') }}" class="btn btn-default">Cancel</a>
	<button type=submit class="btn btn-primary" value=Submit>Submit</button>
</form>
{% endblock %}
