{% extends "base.html" %}
{% block content %}
	<ul class="breadcrumb">
		<li><a href="{{ url_for('home') }}">Home</a></li>
		<li><a href="{{ url_for('show_surveys') }}">Surveys</a></li>
		<li class="active">Survey {{ survey.survey_name }}</li>
	</ul>

	<div class="container">
		<h1>Survey: {{ survey.survey_name }}</h1>

		{% if survey.description %}	
		<h2>Description</h2>
		<p>{{ survey.description }}</p>
		{% endif %}

		<h1>Questions</h1>
			<ul>
				{% for question in questions %}
				<li><a href={{ url_for('question_page', questionid = question.question_id) }}>{{ question.question_description }}</a><p class="text-muted">{{ question.question_text }}</p></li>
				{% endfor %}	
			</ul>
		<h1>Active On These URLs</h1>
		{% if hasData %}
		<p>This survey is active on the following URLs:<p>
			<ul>
				{% for d in deployments %}
				<li>{{ d.url }}</li>
				{% endfor %}
			</ul>
		{% else %}
		<p class="text-muted">This survey is not currently active on any URLs. To deploy it to an exisiting URL, go to <a href={{ url_for('show_deployments') }}>Manage Deployments</a>. To deploy it to a new URL, go to <a href={{ url_for('deployment_form') }}>Create Deployment</a>.
		{% endif %}
	</div>
<script>
function disableBox() {
	document.getElementById("kioskCheck").disabled=true;
}
</script>
{% endblock %}
