<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
	<!--<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">-->
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Home</a>
			</div>
		</div>
	</nav>
	<script type="text/javascript" src="{{ url_for('static', filename='admin_dashboard.js') }}"></script>
	<div class="container" style="padding-top: 15px">
	<div class="well">
	<form action="/admin-dashboard" method="POST" class="form-horizontal">
	<fieldset>
	<legend>Add Question</legend>
		<div class="form-group">
			<label for="question" class="col-lg-2 control-label">Question</label>
			<div class="col-lg-10">
				<input type="text" class="form-control" name="question" id="question" placeholder="Question">
			</div>
			<label for="questionurl" class="col-lg-2 control-label">Question URL</label>
			<div class="col-lg-10">
				<input type="text" class="form-control" name="questionurl" id="question" placeholder="Question URL">
			</div>
		</div>
	<legend>Answer Options</legend>
		<div class="form-group">
			<label for="optionSelect" class="col-lg-2 control-label">Number of options:</label>
			<div class="col-lg-10" id="optionSelect">
				<select class="form-control" id="numOptions" name="numOptions" onchange="addOptions()">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
					<option>9</option>
					<option>10</option>
				</select>
			</div>
		</div>
	<button type="reset" class="btn btn-default">Cancel</button>
	<button type="submit" class="btn btn-primary" value="Submit">Submit</button>
	</fieldset>
	</form>
	</div>
	</div>
</body>
