<html>
	<head>
		<title>Admin Dashboard</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
	<body>
		<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="{{ url_for('home') }}">Home</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Questions <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{{ url_for('show_questions') }}">View Questions</a></li>	
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Surveys <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{{ url_for('show_surveys') }}">View Surveys</a></li>
							<li><a href="{{ url_for('survey_form') }}">Create Survey</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Deployments <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{{ url_for('show_deployments') }}">Manage Deployments</a></li>
							<li><a href="{{ url_for('deployment_form') }}">Create Deployment</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		</nav>
		<div class="container">
		{% block content %}{% endblock %}
		</div>
	</body>
</html>
