{% extends "base.html" %}
{% block content %}
<div class="well">
{% from "_formhelpers.html" import render_field %}
{{ form.csrf_token }}
<h1>Edit Deployment</h1>
<p class="text-muted">Edit an existing deployment.</p>
<div class="container">
<form action={{ url_for('edit_deployment_form', deploymentid=did) }}  method="post" name="edit_deployment_form">
	<fieldset>
	{{ form.hidden_tag() }}
	<div class="form-group">
		<label for="URL" class="col-lg-2 control-label">URL: {{ ks.url }}</label>
		<label for="Building" class="col-lg-2 control-label">Building: {{ b.name }}</label>
		<label for="URL" class="col-lg-2 control-label">
		Kiosk View?
		{% if d.is_kioski %}
		 Yes
		{% else %}
		 No
		{% endif %}
		</label>	
	</div> 
	<div class="form-group">
		{{ render_field(form.survey_id) }}
	</div>
	<button type=submit class="btn btn-primary" value=Submit>Submit</button>
	<a href="#"><button type=cancel class="btn btn-danger">Cancel</button></a>
	</fieldset>
</form>
</div>
</div>
{% endblock %}
