{% extends "base.html" %}
{% block content %}
	<div class="container">
		<h1>Survey: {{ survey.survey_name }}</h1>
		<p>Kiosk View?
		{% if survey.kiosk %}
		<input type="checkbox" id="kioskCheck" disabled="disabled" checked>		
		{% else %}
		<input type="checkbox" id="kioskCheck" disabled="disabled">	
		{% endif %}
		</p>

		{% if survey.description %}	
		<h2>Description</h2>
		<p>{{ survey.description }}</p>
		{% endif %}

		<h1>Questions</h1>
			<ul>
				{% for question in questions %}
				<li>{{ question.question_description }} <p class="text-muted">{{ question.question_text }}</p></li>
				{% endfor %}	
			</ul>
		<h1>Active On These URLs</h1>
		{% if hasData %}
		<p>This deployment is active on the following URLs<p>
			<ul>
				{% for d in deployments %}
				<li>{{ d.url }}</li>
				{% endfor %}
			</ul>
		{% else %}
		<p class="text-muted">This survey is not currently active on any URLs. To deploy it to an exisiting URL, go to <a href={{ url_for('show_deployments') }}>Manage Deployments</a>. To deploy it to a new URL, go to <a href={{ url_for('deployment_form') }}>Create Deployment</a>.
		{% endif %}
	</div>
<script>
function disableBox() {
	document.getElementById("kioskCheck").disabled=true;
}
</script>
{% endblock %}
